ion-modal#medCat-modal {
    --height: 40%;
    --width: 80%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal#medCat-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal#medCat-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }